@media only screen and (min-width:800px) {
    .height {
        height: 500px;
    }
}

@media only screen and (min-width:900px) {
    .height{
        height: 550px;
    }
}
@media only screen and (min-width:1100px) {
    .height{
        height: 600px;
    }
}
@media only screen and (min-width:1350px) {
    .height{
        height:650px;
    }
}
@media only screen and (min-width:1600px) {
    .height{
        height:750px;
    }
}
@media only screen and (min-width:1920px) {
    .height{
        height:800px;
    }
}
@media only screen and (min-width:2440px) {
    .height{
        height:850px;
    }
}