@media only screen and (min-width:0) {
    .footer {
        width: 100%;
        background-color: #383e42;
        padding: 30px 5% 10px 5%;
        margin: 0;
        .footer-container {
            display: flex;
            justify-content: space-between;
            color: white;
            .footer-social-media{
                display: flex;
                flex-direction: column;
                i {
                    text-align: center;
                    padding-top: 5px;
                }
            }
            .footer-contact {
                p {
                    margin: 0;
                    padding-top: 5px;
                }
            }
        }
        .developer {
            text-align: center;
            color: white;
            font-size: 14px;
            padding-top: 5px;

            a {
                color: white;
                font-size: 18px;
                translate: 0.3s all;
                &:hover {
                    transform: scale(1.2);
                }
            }
        }


    }
}

@media only screen and (max-width:768px) {
    .footer {
        .footer-container {
            display: block;
            text-align: center;
            .footer-social-media {
                display: block;
                i {
                    &:nth-child(1) {
                        margin: 0 10px;
                    }
                }
                
            }
            .footer-contact {
                h4 {
                    padding-top: 15px;
                }
                p {
                    font-size: 14px;
                }
            }
            .footer-dropdown {
                h4 {
                    padding-top: 15px;
                }
            }
        }
        .developer {
            padding-top: 15px;
        }
    }
}